.description {
  padding-bottom: 52px;
}
.description__container {
}
.description__wrapper-text {
}
.description__list {
  margin: 32px 0;
}
.description__item:first-child {
  margin-bottom: 24px;
}
.description__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: $add-text-color;
}
.description__text {
  font-size: 14px;
  line-height: 1.25;
}
